# BASE DE DATOS LIBRERIA-PAPELERIA

### CAMBIOS EN DISEÑO RELACIONAL:




- RESTRICCIONES: Se añadieron restricciones a columnas de la tablas con el fin de estandarizar y forzar la manera correcta de                    ingreso de información       
               
- NUEVAS TABLAS: 
                 
                 STATIONERS: Tabla encargada de guardar detalles respecto a productos relacionados a papelería.

                 COMPANIES:Tabla encargada de guardar información respecto a ofertadores ya se de productos pertenecientes
                 a sección de libreria o papelería.
                     
                 INCOME:Tabla encargada de registrar entrada por ventas por cada factura nueva que se hace.

### IMPLEMENTACION EN PYTHON:

In [1]:
import queries
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio
from IPython.display import display
from sqlalchemy import create_engine
conn = psycopg2.connect(database="LIBRERIAPAPELERIA",user='postgres',password=9860,host='127.0.0.1',port='5432')
queries.defineProducts(conn)
cursor = conn.cursor()
engine = create_engine('postgresql+psycopg2://postgres:9860@localhost/LIBRERIAPAPELERIA')

- ### SQL FUNDAMENTAL:

- #### TOTAL EMPLEADOS:

In [2]:
data = sqlio.read_sql_query(queries.total_employees(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

,cc,name,branch,occupation,working_since,email
0,3515394,Alejandro Sosa,Sucursal Norte,Administrador,2013-07-19,Alejandro479@gmail.com
1,7232320,Mateo Gomez,Sucursal Norte,Administrador,2013-10-20,Mateo528@yahoo.com
2,4488459,Lucia Martinez,Sucursal Norte,Administrador,2015-10-20,Lucia128@yahoo.com
3,2702741,Paula Lucero,Sucursal Norte,Administrador,2010-10-20,Paula513@gmail.com
4,2748908,Juan Gomez,Sucursal Norte,Cajero,2012-07-06,Juan149@yahoo.com
5,2695144,Paula Soto,Sucursal Norte,Cajero,2014-10-21,Paula336@yahoo.com
6,5040727,Emma Silva,Sucursal Norte,Cajero,2014-08-20,Emma666@yahoo.com
7,5104633,Sofia Melano,Sucursal Norte,Administrador,2011-11-13,Sofia771@gmail.com
8,1209742,Emma Diaz,Sucursal Norte,Administrador,2013-10-07,Emma306@gmail.com
9,6587016,Julia Sosa,Sucursal Norte,Cajero,2010-10-17,Julia179@hotmail.com
10,7505170,Lucia Perez,Sucursal Norte,Cajero,2013-08-24,Lucia383@hotmail.com
11,5742407,Lucas Soto,Sucursal Sur,Administrador,2010-03-20,Lucas420@hotmail.com
12,2878914,Alejandro Fernandez,Sucursal Sur,Administrador,2010-03-28,Alejandro245@hotmail.com
13,3726785,Juan Muñoz,Sucursal Sur,Cajero,2010-01-12,Juan557@gmail.com
14,3998984,Daniel Martinez,Sucursal Sur,Administrador,2010-11-20,Daniel822@gmail.com
15,6466001,Pablo Sosa,Sucursal Sur,Cajero,2014-06-18,Pablo690@gmail.com
16,5269553,Pablo Sosa,Sucursal Sur,Cajero,2012-09-08,Pablo313@hotmail.com
17,3649097,Sofia Melano,Sucursal Sur,Cajero,2012-11-18,Sofia469@hotmail.com
18,2151264,Mateo Diaz,Sucursal Sur,Administrador,2015-09-04,Mateo344@yahoo.com
19,7831536,Paula Sosa,Sucursal Sur,Cajero,2010-12-16,Paula613@gmail.com

- #### TOTAL CLIENTES:

In [3]:
data = sqlio.read_sql_query(queries.total_clients(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

          cc                 name                     email      phone
0    2160507  Alejandro Fernandez    Alejandro284@gmail.com  533044790
1    4959767  Alejandro Fernandez  Alejandro810@hotmail.com  542603291
2    2611089  Alejandro Fernandez    Alejandro672@yahoo.com  571850082
3    5777847   Alejandro Gonzales  Alejandro553@hotmail.com  517107604
4    4093979     Alejandro Lucero    Alejandro427@gmail.com  509595966
..       ...                  ...                       ...        ...
495  1104546         Valeria Soto    Valeria464@hotmail.com  532688650
496  3349729         Valeria Soto      Valeria112@gmail.com  522126416
497  5953096         Valeria Soto      Valeria230@yahoo.com  586824565
498  7761308         Valeria Soto    Valeria408@hotmail.com  553953411
499  4188873         Valeria Soto    Valeria885@hotmail.com  512664092

[500 rows x 4 columns]

- #### TOTAL LIBROS:

In [4]:
data = sqlio.read_sql_query(queries.total_books(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   title  editorial  author      genre  total
0   1968         Dulze psicopata         51     346    ciencia    785
1   9471              Don anhelo         61     933   suspenso    393
2   9960      Sangriento canibal         48     695    ciencia    454
3   3284       Verde aprendizaje         56     277  autoayuda    284
4   7294       Castaño psicopata         21     286    ciencia    372
5   4541            Infame juego         52     353     terror    400
6   6178        Rebelde mounstro         59     556   suspenso    414
7   1334       Terrorifico juego         66     477    ciencia    743
8   5907             Don imbecil         66     929    ciencia    697
9   4488     Solitario psicopata         39     170    romance    644
10  1710      Criptico psicopata         47     781   suspenso    551
11  2954         Criptico anhelo         24     140    ciencia    475
12  4361            Dulze pasaje         65     679  autoayuda     45
13  9713       Dulze aprendizaje         65     776    romance    499
14  1465           Castaño juego         89     109    romance    729
15  8245      Infame aprendizaje         51     888   suspenso    470
16  7289     Criptico interprete         64     277    ciencia    128
17  1068         Sangriento amor         81     718     terror    737
18  8700     Terrorifico imbecil         39     857    romance    302
19  1613      Sangriento imbecil         20     935   suspenso    670
20  8154       Sangriento pasaje         35     776  autoayuda    429
21  2807           Criptico odio         51     667     terror    471
22  5987       Rebelde psicopata         55     539    romance    399
23  7506           Criptico amor         66     953    ciencia    531
24  8122       Rebelde psicopata         65     353     poesia    425
25  7374        Criptico imbecil         65     687  autoayuda    213
26  4542      Criptico navegador         55     687  autoayuda    432
27  6931     Solitario navegador         63     306  autoayuda    656
28  6977       Verde aprendizaje         65     648  autoayuda    580
29  3182              Dulze odio         32     667     terror    699
30  1587            Dulze pasaje         90     833    romance    656
31  3907     Solitario psicopata         89     781    ciencia    611
32  9830            Bello pasaje         81     781    ciencia    424
33  9209               Don verso         39     346  autoayuda    901
34  5468          Verde mounstro         39     440    romance    204
35  2517         Castaño canibal         55     768    romance    513
36  5458              Bello amor         35     140    ciencia    439
37  4919          Inocente juego         59     286     terror    424
38  5834              Bello amor         21     676    romance    273
39  4809        Solitario anhelo         66     428   suspenso    747
40  3579      Rebelde interprete         90     286    ciencia    648
41  7420            Rebelde amor         21     539    romance    273
42  8800     Terrorifico imbecil         90     888    ciencia    675
43  3306            Verde anhelo         81     553   suspenso    207
44  4869           Castaño juego         59     718     terror    152
45  2265             Infame odio         21     621    ciencia     73
46  2346       Solitario imbecil         85     346    ciencia    416
47  2518           Rebelde verso         20     477  autoayuda    763
48  1538           Bello canibal         55     286    ciencia    464
49  2754           Doctor anhelo         52     710    romance    221
50  9354             Dulze verso         61     687    ciencia    226
51  5204      Inocente navegador         57     929     terror    875
52  6611              Dulze odio         20     380    romance    175
53  6293       Solitario imbecil         65     781     poesia    266
54  6073           Infame pasaje         56     857    ciencia    657
55  3353      Sangriento imbecil         64     833   suspenso    775
56  9148         Inocente anhelo         48     798     poesia    258
57  3086       Infame interprete         74     667    ciencia    847
58  9156           Dulze canibal         32     286     terror    525
59  5732           Rebelde verso         81     518    ciencia    384
60  6088  Sangriento aprendizaje         25     676    ciencia    746
61  7391       Rebelde psicopata         64     277    romance    471
62  7670           Rebelde verso         90     621     poesia    121
63  4632              Don pasaje         24     306  autoayuda    131
64  8572        Criptico canibal         20     440     poesia    606
65  5213          Solitario odio         64     286    ciencia    374
66  4093         Dulze psicopata         39     781     terror    759
67  3024           Inocente odio         23     539     poesia    855
68  7000        Doctor navegador         75     539     terror    965
69  1064          Doctor imbecil         39     718    romance    433
70  8278              Dulze odio         23     518   suspenso    334
71  1359            Doctor verso         65     440     poesia    503
72  6081         Bello navegador         21     768     poesia    432
73  3735             Bello verso         25     353    romance    822
74  6553               Don verso         89     776  autoayuda    485
75  6165             Bello juego         74     833     poesia    588
76  4262        Inocente imbecil         65     244     poesia    761
77  2140          Inocente juego         21     935     poesia    720
78  8287        Criptico imbecil         35     518     poesia    824
79  1722             Infame odio         20     727   suspenso    763
80  4409            Doctor juego         32     525  autoayuda    760
81  6255          Don interprete         11     687    ciencia    874
82  7702        Bello interprete         29     140     poesia    359
83  9915         Bello navegador         47     857   suspenso    426
84  4401          Doctor imbecil         20     368     poesia    326
85  6612   Terrorifico navegador         66     440     terror    690
86  1600           Rebelde juego         23     621   suspenso    494
87  6442          Criptico verso         29     788  autoayuda    566
88  6732       Sangriento anhelo         51     833   suspenso    467
89  3150           Don psicopata         11     869     poesia    171
90  8661            Dulze anhelo         59     428   suspenso    509
91  9428     Rebelde aprendizaje         24     385     terror    633
92  7672            Bello anhelo         66     682   suspenso    828
93  5467         Criptico anhelo         51     353     terror    554
94  4655      Inocente psicopata         90     428     poesia    381
95  4501        Infame psicopata         47     732   suspenso    318
96  1976             Don canibal         65     811    ciencia    252
97  5471            Verde pasaje         47     278  autoayuda    184
98  1520             Doctor amor         47     852  autoayuda    576
99  3708      Criptico navegador         56     768     terror    479

- #### TOTAL PAPELERIA:

In [5]:
data = sqlio.read_sql_query(queries.total_stationers(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   des  company  total
0   1113   Paquete Hojas Carta       81    473
1   2124               Libreta       52    786
2   2471            Micropunta       16    397
3   1248              Cuaderno       56    599
4   2944  Paquete Hojas Examen       48    596
5   2215             Tajalapiz       63    484
6   3308              Borrador       51    628
7   4380          Caja lapices       21    776
8   1755          Caja esferos       61    326
9   3567           Estilografo       55     91
10  4204             Cartulina       35    935

- #### PRODUCTOS VENDIDOS:

In [6]:
data = sqlio.read_sql_query(queries.products_sold(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

       id  sold
0    1976   228
1    5471   261
2    1520   198
3    3708   227
4    1968   247
..    ...   ...
106  8661   260
107  7672   209
108  5467   236
109  4655   243
110  4501   248

[111 rows x 2 columns]

- ### SQL AVANZADO:

- #### BRANCH EMPLEADOS:

In [7]:
from random import choice
cursor.execute("SELECT Branches.name FROM Branches")
m = cursor.fetchall()
cc = choice(m)
cc = choice(cc)


data = sqlio.read_sql_query(queries.branch_employees(cc), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

,cc,name,branch,occupation,working_since,email
0,3515394,Alejandro Sosa,Sucursal Norte,Administrador,2013-07-19,Alejandro479@gmail.com
1,7505170,Lucia Perez,Sucursal Norte,Cajero,2013-08-24,Lucia383@hotmail.com
2,7232320,Mateo Gomez,Sucursal Norte,Administrador,2013-10-20,Mateo528@yahoo.com
3,4488459,Lucia Martinez,Sucursal Norte,Administrador,2015-10-20,Lucia128@yahoo.com
4,2702741,Paula Lucero,Sucursal Norte,Administrador,2010-10-20,Paula513@gmail.com
5,2748908,Juan Gomez,Sucursal Norte,Cajero,2012-07-06,Juan149@yahoo.com
6,2695144,Paula Soto,Sucursal Norte,Cajero,2014-10-21,Paula336@yahoo.com
7,5040727,Emma Silva,Sucursal Norte,Cajero,2014-08-20,Emma666@yahoo.com
8,5104633,Sofia Melano,Sucursal Norte,Administrador,2011-11-13,Sofia771@gmail.com
9,1209742,Emma Diaz,Sucursal Norte,Administrador,2013-10-07,Emma306@gmail.com
10,6587016,Julia Sosa,Sucursal Norte,Cajero,2010-10-17,Julia179@hotmail.com

- #### RANKING LIBROS:

In [8]:
data = sqlio.read_sql_query(queries.msold_book(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   title                 name  sold  sold_rank
0   6977       Verde aprendizaje         Sofia Melano   284          1
1   3306            Verde anhelo           Julia Sosa   275          2
2   4541            Infame juego          Mateo Mokou   275          2
3   5204      Inocente navegador           Leo Lucero   269          4
4   2807           Criptico odio            Hugo Soto   269          4
5   8245      Infame aprendizaje          Daniel Diaz   265          6
6   6732       Sangriento anhelo       Pablo Gonzales   264          7
7   7702        Bello interprete     Martina Martinez   261          8
8   5471            Verde pasaje           Juan Perez   261          8
9   8661            Dulze anhelo          Daniel Diaz   260         10
10  6073           Infame pasaje           Paula Soto   259         11
11  7000        Doctor navegador           Lucas Diaz   256         12
12  7420            Rebelde amor           Lucas Diaz   256         12
13  4093         Dulze psicopata         Hugo Quiroga   254         14
14  4488     Solitario psicopata            Leo Muñoz   253         15
15  4262        Inocente imbecil           Leo Lucero   253         15
16  6081         Bello navegador        Valeria Silva   252         17
17  7670           Rebelde verso         Martin Gomez   252         17
18  2754           Doctor anhelo           Lucia Soto   252         17
19  2517         Castaño canibal        Valeria Silva   252         17
20  9915         Bello navegador           Paula Soto   251         21
21  2140          Inocente juego            Emma Soto   250         22
22  5834              Bello amor       Alejandro Soto   249         23
23  5468          Verde mounstro        Valeria Silva   248         24
24  8700     Terrorifico imbecil           Paula Soto   248         24
25  4501        Infame psicopata      Alejandro Perez   248         24
26  4401          Doctor imbecil       Alejandro Diaz   247         27
27  1968         Dulze psicopata          Daniel Soto   247         27
28  6931     Solitario navegador           Lucia Diaz   247         27
29  2346       Solitario imbecil          Daniel Soto   245         30
30  6612   Terrorifico navegador        Valeria Silva   245         30
31  6442          Criptico verso        Martin Lucero   245         30
32  8800     Terrorifico imbecil          Daniel Diaz   244         33
33  1334       Terrorifico juego       Juan Rodriguez   244         33
34  6165             Bello juego       Pablo Gonzales   243         35
35  4655      Inocente psicopata          Daniel Diaz   243         35
36  6553               Don verso      Lucas Fernandez   243         35
37  1538           Bello canibal          Lucia Perez   243         35
38  9471              Don anhelo          Julia Muñoz   242         39
39  3353      Sangriento imbecil       Pablo Gonzales   242         39
40  3579      Rebelde interprete          Lucia Perez   241         41
41  5907             Don imbecil           Leo Lucero   240         42
42  5213          Solitario odio          Lucia Perez   239         43
43  1068         Sangriento amor    Valeria Fernandez   238         44
44  3182              Dulze odio            Hugo Soto   238         44
45  3024           Inocente odio           Lucas Diaz   237         46
46  2265             Infame odio         Martin Gomez   237         46
47  6611              Dulze odio            Leo Muñoz   237         46
48  6088  Sangriento aprendizaje       Alejandro Soto   237         46
49  5467         Criptico anhelo          Mateo Mokou   236         50
50  1722             Infame odio            Emma Soto   236         50
51  6178        Rebelde mounstro      Sofia Fernandez   235         52
52  1064          Doctor imbecil    Valeria Fernandez   235         52
53  1587            Dulze pasaje       Pablo Gonzales   234         54
54  9148         Inocente anhelo           Juan Silva   234         54
55  4361            Dulze pasaje        Lucia Quiroga   234         54
56  7289     Criptico interprete         Emma Quiroga   234         54
57  9428     Rebelde aprendizaje       Valeria Lucero   233         58
58  3150           Don psicopata           Emma Muñoz   232         59
59  5458              Bello amor     Martina Martinez   232         59
60  8122       Rebelde psicopata          Mateo Mokou   232         59
61  7391       Rebelde psicopata         Emma Quiroga   232         59
62  4919          Inocente juego          Lucia Perez   231         63
63  1613      Sangriento imbecil            Emma Soto   231         63
64  9830            Bello pasaje         Hugo Quiroga   230         65
65  5732           Rebelde verso          Paula Silva   230         65
66  1710      Criptico psicopata         Hugo Quiroga   229         67
67  9209               Don verso          Daniel Soto   229         67
68  1976             Don canibal      Martin Martinez   228         69
69  3086       Infame interprete            Hugo Soto   228         69
70  7506           Criptico amor           Juan Perez   228         69
71  4869           Castaño juego    Valeria Fernandez   227         72
72  1465           Castaño juego           Emma Silva   227         72
73  8572        Criptico canibal        Valeria Silva   227         72
74  3708      Criptico navegador        Valeria Silva   227         72
75  7374        Criptico imbecil      Lucia Fernandez   227         72
76  1359            Doctor verso        Valeria Silva   225         77
77  4809        Solitario anhelo          Daniel Diaz   225         77
78  5987       Rebelde psicopata           Lucas Diaz   225         77
79  7294       Castaño psicopata          Lucia Perez   224         80
80  9960      Sangriento canibal       Juan Fernandez   223         81
81  4409            Doctor juego        Paula Quiroga   222         82
82  3735             Bello verso          Mateo Mokou   220         83
83  4632              Don pasaje           Lucia Diaz   219         84
84  3284       Verde aprendizaje         Emma Quiroga   219         84
85  9713       Dulze aprendizaje      Lucas Fernandez   217         86
86  2954         Criptico anhelo     Martina Martinez   217         86
87  6255          Don interprete      Lucia Fernandez   217         86
88  3907     Solitario psicopata         Hugo Quiroga   215         89
89  9156           Dulze canibal          Lucia Perez   214         90
90  4542      Criptico navegador      Lucia Fernandez   214         90
91  1600           Rebelde juego         Martin Gomez   212         92
92  9354             Dulze verso      Lucia Fernandez   212         92
93  6293       Solitario imbecil         Hugo Quiroga   211         94
94  7672            Bello anhelo  Alejandro Rodriguez   209         95
95  2518           Rebelde verso       Juan Rodriguez   209         95
96  8287        Criptico imbecil          Paula Silva   208         97
97  8154       Sangriento pasaje      Lucas Fernandez   204         98
98  1520             Doctor amor          Juan Lucero   198         99
99  8278              Dulze odio          Paula Silva   197        100

- #### DETALLE DE FACTURA:

In [9]:
cursor.execute("SELECT receipts.id FROM receipts")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.receipt_detail(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

        id  product  amount    id   price  price_bought
0  3493052     5458       1  5458  174200        161426
1  3493052     4409       3  4409  204900        188318
2  3493052     4869       1  4869   92700         73900
3  3493052     5907       3  5907  171800        154923

- #### CANTIDAD DE PRODUCTO:

In [10]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

           branch  amount
0  Sucursal Norte     474
1    Sucursal Sur     272

- #### DETALLE DE PRODUCTO:

In [11]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.product_desc(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

     id             title  editorial  author    pub_date     genre
0  4501  Infame psicopata         47     732  2003-03-28  suspenso

- #### RANKING STATIONERS:

In [12]:
data = sqlio.read_sql_query(queries.msold_stationer(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   des  company  sold  sold_rank
0   2215             Tajalapiz       63   258          1
1   2124               Libreta       52   256          2
2   4380          Caja lapices       21   251          3
3   3308              Borrador       51   250          4
4   2471            Micropunta       16   246          5
5   4204             Cartulina       35   246          5
6   1248              Cuaderno       56   239          7
7   3567           Estilografo       55   238          8
8   1755          Caja esferos       61   237          9
9   2944  Paquete Hojas Examen       48   230         10
10  1113   Paquete Hojas Carta       81   230         10

- #### RANKING PRODUCTOS:

In [13]:
data = sqlio.read_sql_query(queries.msold_product(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

       id  sold  sold_rank
0    6977   284          1
1    4541   275          2
2    3306   275          2
3    2807   269          4
4    5204   269          4
..    ...   ...        ...
106  7672   209        106
107  8287   208        108
108  8154   204        109
109  1520   198        110
110  8278   197        111

[111 rows x 3 columns]

- #### Transacciones:

In [14]:
from random import randint
id = randint(1,1000)
q = """INSERT INTO Products(ID,price,price_bought)VALUES({0},10000,9000);""".format(id)
cursor.execute(q)
cursor.execute("SELECT companies.id from companies")
comp = choice(cursor.fetchall())
comp = choice(comp)
cursor.execute("SELECT employees.cc FROM employees")
q = """INSERT INTO Stationers(id,des,company)VALUES({0},'Agenda',{1})""".format(id,comp)
emp_id = choice(cursor.fetchall())
emp_id = choice(emp_id)
cursor.execute(q)
q = """INSERT INTO Inventories(branch,product,amount)VALUES('Sucursal Norte',{0},20)""".format(id)
cursor.execute(q)