# BASE DE DATOS LIBRERIA-PAPELERIA

### CAMBIOS EN DISEÑO RELACIONAL:




- RESTRICCIONES: Se añadieron restricciones a columnas de la tablas con el fin de estandarizar y forzar la manera correcta de                    ingreso de información       
               
- NUEVAS TABLAS: 
                 
                 STATIONERS: Tabla encargada de guardar detalles respecto a productos relacionados a papelería.

                 COMPANIES:Tabla encargada de guardar información respecto a ofertadores ya se de productos pertenecientes
                 a sección de libreria o papelería.
                     
                 INCOME:Tabla encargada de registrar entrada por ventas por cada factura nueva que se hace.

### IMPLEMENTACION EN PYTHON:

In [ ]:
import queries
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio
from IPython.display import display
from sqlalchemy import create_engine
import plotly.express as px
import matplotlib.pyplot as plt
conn = psycopg2.connect(database="LIBRERIAPAPELERIA",user='postgres',password=9860,host='127.0.0.1',port='5432')
queries.defineProducts(conn)
cursor = conn.cursor()
engine = create_engine('postgresql+psycopg2://postgres:9860@localhost/LIBRERIAPAPELERIA')

- ### SQL FUNDAMENTAL:

- #### TOTAL EMPLEADOS:

In [ ]:
data = sqlio.read_sql_query(queries.total_employees(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### TOTAL CLIENTES:

In [ ]:
data = sqlio.read_sql_query(queries.total_clients(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### TOTAL LIBROS:

In [ ]:
data = sqlio.read_sql_query(queries.total_books(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### TOTAL PAPELERIA:

In [ ]:
data = sqlio.read_sql_query(queries.total_stationers(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### PRODUCTOS VENDIDOS:

In [ ]:
data = sqlio.read_sql_query(queries.products_sold(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- ### SQL AVANZADO:

- #### BRANCH EMPLEADOS:

In [ ]:
from random import choice
cursor.execute("SELECT Branches.name FROM Branches")
m = cursor.fetchall()
cc = choice(m)
cc = choice(cc)


data = sqlio.read_sql_query(queries.branch_employees(cc), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### RANKING LIBROS:

In [ ]:
data = sqlio.read_sql_query(queries.msold_book(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### DETALLE DE FACTURA:

In [ ]:
cursor.execute("SELECT receipts.id FROM receipts")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.receipt_detail(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### CANTIDAD DE PRODUCTO:

In [ ]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### DETALLE DE PRODUCTO:

In [ ]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.product_desc(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### RANKING STATIONERS:

In [ ]:
data = sqlio.read_sql_query(queries.msold_stationer(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### RANKING PRODUCTOS:

In [ ]:
data = sqlio.read_sql_query(queries.msold_product(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

- #### Transacciones:

In [ ]:
from random import randint
id = randint(1,1000)
q = """INSERT INTO Products(ID,price,price_bought)VALUES({0},10000,9000);""".format(id)
cursor.execute(q)
conn.commit()
cursor.execute("SELECT companies.id from companies")
comp = choice(cursor.fetchall())
comp = choice(comp)
cursor.execute("SELECT employees.cc FROM employees")
q = """INSERT INTO Stationers(id,des,company)VALUES({0},'Agenda',{1})""".format(id,comp)
conn.commit()
emp_id = choice(cursor.fetchall())
emp_id = choice(emp_id)
cursor.execute(q)
q = """INSERT INTO Inventories(branch,product,amount)VALUES('Sucursal Norte',{0},20)""".format(id)
conn.commit()
cursor.execute(q)
clid = randint(100,900)
name = "Juan Canizales Beltran"
cursor.execute("""INSERT INTO Clients(cc,name,email,phone)VALUES({0},'{1}','juancaniza@gmail.com',313)""".format(clid,name))
conn.commit()
print(id,'Agenda')

data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

In [ ]:
q,r = queries.generarFactura(conn,clid,emp_id)

In [ ]:
cursor.execute(q)
conn.commit()

In [ ]:
data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

#### CONSULTAS AVANZADAS(INGRESOS)

- ##### PRODUCTOS MÁS VENDIDOS

In [ ]:
df = sqlio.read_sql_query(queries.ingresosProducto(),engine)
fig = px.scatter_3d(df,x='product',y='year',z='total_sold',color='total_sold')
fig.show()

- ##### HISTORIAL PRODUCTO

In [ ]:
df = sqlio.read_sql_query(queries.historialProducto(2016,7779),engine)
fig = px.scatter(df,x='month',y="total_sold",color="total_sold")
fig.show()

- ##### COMPARACION SUCURSALES RESPECTO A AÑOS

In [ ]:
df = sqlio.read_sql_query(queries.ingresosSucursalYR(),engine)
fig = px.scatter_3d(df,x='year',y='total_in',z='branch',color='total_in')
fig.show()

- ##### COMPARACION SUCURSALES RESPECTO A MESES

In [ ]:
df = sqlio.read_sql_query(queries.ingresosSucursalMT(),engine)
fig = px.scatter_3d(df,x='branch',y='total_in',z='month',color='total_in')
fig.show()

- ##### CONSULTA SOBRE EMPLEADOS-SUCURSAL/AÑO

In [ ]:
df = sqlio.read_sql_query(queries.comEmpleado('Sucursal Sur',10,2018),engine)
fig = px.scatter(df,x='employee',y="regis",color="regis")
fig.show()