# BASE DE DATOS LIBRERIA-PAPELERIA

### CAMBIOS EN DISEÑO RELACIONAL:




- RESTRICCIONES: Se añadieron restricciones a columnas de la tablas con el fin de estandarizar y forzar la manera correcta de                    ingreso de información       
               
- NUEVAS TABLAS: 
                 
                 STATIONERS: Tabla encargada de guardar detalles respecto a productos relacionados a papelería.

                 COMPANIES:Tabla encargada de guardar información respecto a ofertadores ya se de productos pertenecientes
                 a sección de libreria o papelería.
                     
                 INCOME:Tabla encargada de registrar entrada por ventas por cada factura nueva que se hace.

### IMPLEMENTACION EN PYTHON:

In [1]:
import queries
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio
from IPython.display import display
from sqlalchemy import create_engine
conn = psycopg2.connect(database="LIBRERIAPAPELERIA",user='postgres',password=123456789,host='127.0.0.1',port='5432')
queries.defineProducts(conn)
cursor = conn.cursor()
engine = create_engine('postgresql+psycopg2://postgres:123456789@localhost/LIBRERIAPAPELERIA')

- ### SQL FUNDAMENTAL:

- #### TOTAL EMPLEADOS:

In [2]:
data = sqlio.read_sql_query(queries.total_employees(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

,cc,name,branch,occupation,working_since,email
0,3605308,Piedad Lamy,Sucursal Norte,Administrador,2012-02-27,Piedad682@hotmail.com
1,2638536,Zoraida Castro,Sucursal Norte,Cajero,2013-09-04,Zoraida463@hotmail.com
2,4008687,Daniel Soto,Sucursal Norte,Cajero,2010-11-12,Daniel623@gmail.com
3,6367564,Valeria Gonzales,Sucursal Norte,Cajero,2013-11-14,Valeria188@yahoo.com
4,8747263,Bruno Muñoz,Sucursal Norte,Administrador,2013-11-08,Bruno389@hotmail.com
5,6112562,Emma Muñoz,Sucursal Norte,Cajero,2013-01-15,Emma309@yahoo.com
6,1765303,Julia Quiroga,Sucursal Norte,Administrador,2013-12-15,Julia145@gmail.com
7,4917104,Maria Muñoz,Sucursal Norte,Cajero,2015-11-23,Maria765@gmail.com
8,5081185,Maria Muñoz,Sucursal Norte,Administrador,2015-04-06,Maria293@yahoo.com
9,1343535,Bruno Diaz,Sucursal Sur,Administrador,2015-05-27,Bruno676@gmail.com
10,2264429,Hugo Montenegro,Sucursal Sur,Administrador,2015-11-02,Hugo761@gmail.com
11,1798097,Diego Lamy,Sucursal Sur,Administrador,2014-09-23,Diego716@yahoo.com
12,8824836,Ernesto Henao,Sucursal Sur,Cajero,2012-12-15,Ernesto574@yahoo.com
13,8082432,Lucia Lamy,Sucursal Sur,Administrador,2010-10-15,Lucia202@gmail.com
14,8195329,Ayleen Gomez,Sucursal Sur,Administrador,2012-12-13,Ayleen363@yahoo.com
15,1363642,Emma Henao,Sucursal Sur,Cajero,2010-10-11,Emma179@yahoo.com
16,1993430,Bruno Gonzales,Sucursal Sur,Administrador,2014-10-07,Bruno108@hotmail.com
17,3429897,Hernan Herrera,Sucursal Sur,Administrador,2015-01-11,Hernan638@hotmail.com
18,5237006,Pablo Belmont,Sucursal Sur,Cajero,2011-12-08,Pablo355@yahoo.com
19,1558569,Pedro Perez,Sucursal Sur,Cajero,2013-05-17,Pedro849@gmail.com

- #### TOTAL CLIENTES:

In [3]:
data = sqlio.read_sql_query(queries.total_clients(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

          cc                name                     email      phone
0    8099350   Alejandro Belmont  Alejandro217@hotmail.com  500379034
1    8277342    Alejandro Castro  Alejandro153@hotmail.com  500722676
2    3276867   Alejandro Cubides    Alejandro271@gmail.com  504443688
3    2743392      Alejandro Diaz  Alejandro311@hotmail.com  532954762
4    1721731  Alejandro Gonzales  Alejandro879@hotmail.com  573028318
..       ...                 ...                       ...        ...
498  2876940   Zoraida Rodriguez      Zoraida791@yahoo.com  597410633
499  7770468       Zoraida Silva    Zoraida547@hotmail.com  511740540
500  2255269        Zoraida Sosa    Zoraida599@hotmail.com  583449313
501  7860408    Zoraida Villamor    Zoraida592@hotmail.com  599791590
502  7727669    Zoraida Villamor    Zoraida730@hotmail.com  545502874

[503 rows x 4 columns]

- #### TOTAL LIBROS:

In [4]:
data = sqlio.read_sql_query(queries.total_books(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   title  editorial  author      genre  total
0   7004             Bello verso         31     967   suspenso    565
1   5197      Terrorifico anhelo         86     718    romance    461
2   4307        Solitario anhelo         31     796     poesia    617
3   3951         Verde psicopata         25     183     terror    792
4   2226       Sangriento pasaje         21     858     poesia    901
5   9343  Terrorifico interprete         89     999     poesia    723
6   6719         Doctor mounstro         86     334     poesia    761
7   1841           Verde imbecil         13     256   suspenso    421
8   6842        Castaño mounstro         53     143     terror    465
9   1474       Solitario imbecil         53     340   suspenso    458
10  9192       Terrorifico verso         73     255     poesia    375
11  4758        Castaño mounstro         86     255     terror    590
12  3309          Castaño anhelo         76     647     poesia    803
13  8276      Criptico navegador         40     647    ciencia    325
14  7172        Bello interprete         31     225  autoayuda    850
15  2765     Sangriento mounstro         23     406     terror    515
16  2797     Terrorifico imbecil         63     770     terror    420
17  9049           Verde imbecil         23     127    ciencia    310
18  9241  Sangriento aprendizaje         43     294     poesia    767
19  6048      Criptico navegador         37     406   suspenso     61
20  7295           Dulze imbecil         80     647  autoayuda    504
21  5194           Doctor pasaje         20     100  autoayuda    305
22  1411          Don interprete         53     770     poesia    223
23  2699     Rebelde aprendizaje         89     763     poesia     85
24  8274        Dulze interprete         23     811     terror    450
25  4014      Terrorifico anhelo         43     183    ciencia    680
26  7982        Doctor psicopata         13     487     terror    538
27  6108        Terrorifico amor         88     310  autoayuda    819
28  5308           Dulze canibal         40     787     poesia    306
29  6534          Don interprete         49     466    romance    733
30  8544        Bello interprete         88     401    romance    594
31  5017   Solitario aprendizaje         84     289     poesia    583
32  5170          Rebelde anhelo         64     281    romance    194
33  1370       Rebelde psicopata         37     224  autoayuda    562
34  9333          Doctor canibal         42     869  autoayuda    858
35  2331       Dulze aprendizaje         40     100     terror    513
36  5540             Verde juego         42     127     terror    803
37  1843             Infame odio         40     967  autoayuda    322
38  7268          Don interprete         76     647   suspenso    558
39  1401            Castaño odio         48     611   suspenso    375
40  3556       Dulze aprendizaje         27     611  autoayuda    656
41  3335     Solitario navegador         18     100  autoayuda    596
42  7657            Don mounstro         29     770     terror    300
43  7090           Doctor anhelo         76     689   suspenso    651
44  5722   Terrorifico psicopata         86     675     poesia    142
45  9737            Dulze anhelo         53     718     poesia    501
46  7679   Terrorifico navegador         63     143    romance    311
47  7586         Verde psicopata         81     689    ciencia    441
48  6276     Rebelde aprendizaje         48     846  autoayuda    164
49  9051        Castaño mounstro         20     718   suspenso    299
50  1975         Dulze navegador         88     100     poesia    742
51  7378   Terrorifico navegador         31     439     poesia    709
52  2349   Sangriento interprete         80     718    ciencia    516
53  9320        Doctor psicopata         29     803    romance    557
54  4589        Infame navegador         42     796  autoayuda    704
55  1604               Don juego         80     434   suspenso    642
56  2041             Bello juego         25     803  autoayuda    553
57  8538           Dulze imbecil         84     334     terror    320
58  5575        Sangriento verso         42     449  autoayuda    563
59  8625            Verde anhelo         48     256   suspenso    727
60  7775      Inocente psicopata         43     334    romance    683
61  8830        Criptico imbecil         66     846    romance    611
62  9785           Doctor pasaje         86     143    romance    190
63  5781       Infame interprete         81     255    ciencia    558
64  7078                Don amor         88     289     terror    489
65  7896     Solitario psicopata         40     675  autoayuda    447
66  7228      Infame aprendizaje         89     246     poesia    180
67  1987          Castaño anhelo         31     294    ciencia    344
68  9612         Infame mounstro         53     334    ciencia    454
69  5607          Dulze mounstro         49     143   suspenso    342
70  2692            Bello anhelo         23     124     terror    419
71  7730           Don navegador         63     449     terror    649
72  5938       Criptico mounstro         25     514   suspenso    474
73  8766      Infame aprendizaje         49     183  autoayuda    645
74  1595          Rebelde anhelo         37     803    romance    570
75  7865      Sangriento canibal         29     224  autoayuda    503
76  1881   Terrorifico psicopata         29     256   suspenso    638
77  5018           Rebelde verso         53     611     poesia    647
78  4692         Rebelde imbecil         64     289   suspenso    275
79  7682       Sangriento anhelo         67     143     terror    705
80  1519            Bello anhelo         25     570   suspenso    609
81  1906     Solitario psicopata         21     438     terror    207
82  1012              Verde amor         65     675  autoayuda    329
83  9332            Bello pasaje         89     487  autoayuda    403
84  9001       Castaño navegador         49     647  autoayuda    856
85  1250       Sangriento anhelo         59     183    ciencia    772
86  1448             Bello verso         64     909   suspenso    301
87  8038          Bello mounstro         67     675    romance    529
88  6878       Terrorifico verso         53     294  autoayuda    539
89  4514             Bello verso         65     846     poesia    691
90  7256          Infame imbecil         59     509     poesia    470
91  1457          Criptico juego         18     401     poesia    690
92  9754           Doctor anhelo         25     803    ciencia    825
93  7148            Verde pasaje         40     490     poesia    625
94  6411          Criptico juego         65     340   suspenso    557
95  2604          Solitario amor         43     796     terror    507
96  3102      Sangriento canibal         25     770   suspenso    523
97  6086       Sangriento pasaje         59     434    ciencia    375
98  8266        Sangriento juego         63     803    ciencia    372
99  3206              Bello amor         40     406    ciencia    789

- #### TOTAL PAPELERIA:

In [5]:
data = sqlio.read_sql_query(queries.total_stationers(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   des  company  total
0   2680              Cuaderno       29    279
1    758                Agenda       84     20
2   9390            Micropunta       23    627
3   2037             Cartulina       89    673
4   9291  Paquete Hojas Examen       73    864
5   8845           Estilografo       86    618
6   6061          Caja lapices       89    765
7   9800             Tajalapiz       13    405
8   4022               Libreta       40    405
9   9922              Borrador       64    263
10   979                Agenda       13     20
11  2027          Caja esferos       18    189
12  5176   Paquete Hojas Carta       64    665
13   857                Agenda       66     20

- #### PRODUCTOS VENDIDOS:

In [6]:
data = sqlio.read_sql_query(queries.products_sold(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

       id  sold
0    5018   225
1    1881   243
2    4692   245
3    7682   216
4    1519   232
..    ...   ...
108  7730   241
109  5938   221
110  8766   238
111  1595   243
112  7865   255

[113 rows x 2 columns]

- ### SQL AVANZADO:

- #### BRANCH EMPLEADOS:

In [7]:
from random import choice
cursor.execute("SELECT Branches.name FROM Branches")
m = cursor.fetchall()
cc = choice(m)
cc = choice(cc)


data = sqlio.read_sql_query(queries.branch_employees(cc), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

,cc,name,branch,occupation,working_since,email
0,4008687,Daniel Soto,Sucursal Norte,Cajero,2010-11-12,Daniel623@gmail.com
1,5081185,Maria Muñoz,Sucursal Norte,Administrador,2015-04-06,Maria293@yahoo.com
2,2638536,Zoraida Castro,Sucursal Norte,Cajero,2013-09-04,Zoraida463@hotmail.com
3,6367564,Valeria Gonzales,Sucursal Norte,Cajero,2013-11-14,Valeria188@yahoo.com
4,8747263,Bruno Muñoz,Sucursal Norte,Administrador,2013-11-08,Bruno389@hotmail.com
5,1765303,Julia Quiroga,Sucursal Norte,Administrador,2013-12-15,Julia145@gmail.com
6,4917104,Maria Muñoz,Sucursal Norte,Cajero,2015-11-23,Maria765@gmail.com
7,3605308,Piedad Lamy,Sucursal Norte,Administrador,2012-02-27,Piedad682@hotmail.com
8,6112562,Emma Muñoz,Sucursal Norte,Cajero,2013-01-15,Emma309@yahoo.com

- #### RANKING LIBROS:

In [8]:
data = sqlio.read_sql_query(queries.msold_book(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   title                  name  sold  sold_rank
0   7775      Inocente psicopata           Sofia Smith   265          1
1   9332            Bello pasaje     Martina Fernandez   262          2
2   5017   Solitario aprendizaje      Daniel Rodriguez   258          3
3   3309          Castaño anhelo           Bruno Smith   257          4
4   8538           Dulze imbecil           Sofia Smith   256          5
5   7865      Sangriento canibal  Alejandro Montenegro   255          6
6   2604          Solitario amor          Rosa Beltran   254          7
7   8038          Bello mounstro          Juan Beltran   254          7
8   7679   Terrorifico navegador          Maria Melano   254          7
9   5781       Infame interprete        Lucas Gonzales   253         10
10  6048      Criptico navegador         Zoraida Perez   253         10
11  1841           Verde imbecil         Lucia Herrera   252         12
12  2797     Terrorifico imbecil            Sofia Sosa   252         12
13  8625            Verde anhelo         Lucia Herrera   252         12
14  4307        Solitario anhelo          Rosa Beltran   251         15
15  4514             Bello verso        Trevor Belmont   249         16
16  9333          Doctor canibal         Pedro Quiroga   249         16
17  6086       Sangriento pasaje           Daniel Diaz   248         18
18  7078                Don amor      Daniel Rodriguez   248         18
19  3335     Solitario navegador             Emma Diaz   247         20
20  6878       Terrorifico verso    Alejandro Martinez   247         20
21  9051        Castaño mounstro            Lucas Sosa   247         20
22  5540             Verde juego        Diego Martinez   247         20
23  8274        Dulze interprete           Pablo Gomez   247         20
24  7982        Doctor psicopata     Martina Fernandez   246         25
25  1250       Sangriento anhelo           Julia Mokou   246         25
26  4692         Rebelde imbecil      Daniel Rodriguez   245         27
27  9612         Infame mounstro           Sofia Smith   245         27
28  6842        Castaño mounstro          Maria Melano   245         27
29  1401            Castaño odio         Sofia Cubides   244         30
30  9001       Castaño navegador           Bruno Smith   244         30
31  7172        Bello interprete           Lucas Perez   243         32
32  1881   Terrorifico psicopata         Lucia Herrera   243         32
33  7657            Don mounstro            Sofia Sosa   243         32
34  8830        Criptico imbecil        Trevor Belmont   243         32
35  1595          Rebelde anhelo       Ayleen Martinez   243         32
36  8266        Sangriento juego       Ayleen Martinez   242         37
37  7268          Don interprete           Bruno Smith   242         37
38  9241  Sangriento aprendizaje    Alejandro Martinez   241         39
39  2041             Bello juego       Ayleen Martinez   241         39
40  7730           Don navegador         Paula Belmont   241         39
41  4589        Infame navegador          Rosa Beltran   241         39
42  1411          Don interprete            Sofia Sosa   241         39
43  2349   Sangriento interprete            Lucas Sosa   239         44
44  7378   Terrorifico navegador         Lucia Quiroga   239         44
45  1604               Don juego           Daniel Diaz   239         44
46  1370       Rebelde psicopata  Alejandro Montenegro   239         44
47  8766      Infame aprendizaje           Julia Mokou   238         48
48  6534          Don interprete             Hugo Polo   237         49
49  3951         Verde psicopata           Julia Mokou   236         50
50  9754           Doctor anhelo       Ayleen Martinez   236         50
51  6108        Terrorifico amor       Martha Villamor   236         50
52  5308           Dulze canibal          Martin Smith   236         50
53  9737            Dulze anhelo            Lucas Sosa   235         54
54  7228      Infame aprendizaje           Julia Smith   235         54
55  5170          Rebelde anhelo        Martin Herrera   234         56
56  7295           Dulze imbecil           Bruno Smith   234         56
57  7148            Verde pasaje            Leo Melano   233         58
58  5197      Terrorifico anhelo            Lucas Sosa   233         58
59  1448             Bello verso          Emma Belmont   232         60
60  1519            Bello anhelo        Edwin Gonzales   232         60
61  9343  Terrorifico interprete        Martina Castro   232         60
62  4758        Castaño mounstro        Lucas Gonzales   232         60
63  5575        Sangriento verso         Paula Belmont   232         60
64  2226       Sangriento pasaje            Diego Diaz   231         65
65  1975         Dulze navegador             Emma Diaz   231         65
66  2765     Sangriento mounstro         Zoraida Perez   231         65
67  8276      Criptico navegador           Bruno Smith   230         68
68  1987          Castaño anhelo    Alejandro Martinez   228         69
69  3102      Sangriento canibal            Sofia Sosa   227         70
70  5722   Terrorifico psicopata          Juan Beltran   227         70
71  9049           Verde imbecil        Diego Martinez   227         70
72  9320        Doctor psicopata       Ayleen Martinez   227         70
73  5607          Dulze mounstro          Maria Melano   226         74
74  5018           Rebelde verso         Sofia Cubides   225         75
75  7896     Solitario psicopata          Juan Beltran   224         76
76  3206              Bello amor         Zoraida Perez   222         77
77  7256          Infame imbecil         Zoraida Mokou   221         78
78  5938       Criptico mounstro        Martin Quiroga   221         78
79  9192       Terrorifico verso        Lucas Gonzales   220         80
80  2331       Dulze aprendizaje             Emma Diaz   219         81
81  2692            Bello anhelo           Leo Beltran   219         81
82  1474       Solitario imbecil          Mateo Lucero   218         83
83  7586         Verde psicopata       Zoraida Barbosa   218         83
84  7090           Doctor anhelo       Zoraida Barbosa   218         83
85  7004             Bello verso           Martha Sosa   217         86
86  6411          Criptico juego          Mateo Lucero   217         86
87  4014      Terrorifico anhelo           Julia Mokou   217         86
88  7682       Sangriento anhelo          Maria Melano   216         89
89  6276     Rebelde aprendizaje        Trevor Belmont   216         89
90  1012              Verde amor          Juan Beltran   215         91
91  9785           Doctor pasaje          Maria Melano   215         91
92  1906     Solitario psicopata       Sofia Fernandez   215         91
93  2699     Rebelde aprendizaje        Piedad Belmont   214         94
94  3556       Dulze aprendizaje         Sofia Cubides   213         95
95  5194           Doctor pasaje             Emma Diaz   213         95
96  1843             Infame odio           Martha Sosa   211         97
97  1457          Criptico juego            Hugo Mokou   211         97
98  8544        Bello interprete            Hugo Mokou   210         99
99  6719         Doctor mounstro           Sofia Smith   198        100

- #### DETALLE DE FACTURA:

In [9]:
cursor.execute("SELECT receipts.id FROM receipts")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.receipt_detail(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

    idd       id  product  amount    id   price  price_bought
0  6202  3427041     1987       1  1987  184000        164437
1  6204  3427041     7865       1  7865  157900        143282
2  6203  3427041     3102       2  3102   71600         56180
3  6206  3427041     5017       1  5017  132700        116266
4  6205  3427041     7295       1  7295  158400        146924
5  6201  3427041     3951       3  3951  236300        219872

- #### CANTIDAD DE PRODUCTO:

In [10]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

           branch  amount
0  Sucursal Norte     119
1    Sucursal Sur     206

- #### DETALLE DE PRODUCTO:

In [11]:
cursor.execute("SELECT products.id FROM products")
m = cursor.fetchall()
id = choice(m)
id = choice(id)

data = sqlio.read_sql_query(queries.product_desc(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

     id       title  editorial  author    pub_date    genre
0  3206  Bello amor         40     406  1994-06-02  ciencia

- #### RANKING STATIONERS:

In [12]:
data = sqlio.read_sql_query(queries.msold_stationer(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

      id                   des  company  sold  sold_rank
0   2680              Cuaderno       29   251          1
1   5176   Paquete Hojas Carta       64   241          2
2   9291  Paquete Hojas Examen       73   240          3
3   6061          Caja lapices       89   237          4
4   2027          Caja esferos       18   236          5
5   9800             Tajalapiz       13   235          6
6   2037             Cartulina       89   233          7
7   8845           Estilografo       86   226          8
8   4022               Libreta       40   219          9
9   9922              Borrador       64   216         10
10  9390            Micropunta       23   212         11
11   758                Agenda       84     1         12
12   979                Agenda       13     1         12

- #### RANKING PRODUCTOS:

In [13]:
data = sqlio.read_sql_query(queries.msold_product(), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

       id  sold  sold_rank
0    7775   265          1
1    9332   262          2
2    5017   258          3
3    3309   257          4
4    8538   256          5
..    ...   ...        ...
108  1457   211        108
109  8544   210        110
110  6719   198        111
111   758     1        112
112   979     1        112

[113 rows x 3 columns]

- #### Transacciones:

In [14]:
from random import randint
id = randint(1,1000)
q = """INSERT INTO Products(ID,price,price_bought)VALUES({0},10000,9000);""".format(id)
cursor.execute(q)
conn.commit()
cursor.execute("SELECT companies.id from companies")
comp = choice(cursor.fetchall())
comp = choice(comp)
cursor.execute("SELECT employees.cc FROM employees")
q = """INSERT INTO Stationers(id,des,company)VALUES({0},'Agenda',{1})""".format(id,comp)
conn.commit()
emp_id = choice(cursor.fetchall())
emp_id = choice(emp_id)
cursor.execute(q)
q = """INSERT INTO Inventories(branch,product,amount)VALUES('Sucursal Norte',{0},20)""".format(id)
conn.commit()
cursor.execute(q)
clid = randint(100,900)
name = "Juan Canizales Beltran"
cursor.execute("""INSERT INTO Clients(cc,name,email,phone)VALUES({0},'{1}','juancaniza@gmail.com',313)""".format(clid,name))
conn.commit()
print(id,'Agenda')

data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

754 Agenda

           branch  amount
0  Sucursal Norte      20

In [15]:
q,r = queries.generarFactura(conn,clid,emp_id)

factura  5872
producto: 754
cantidad: 10
producto: exit

In [16]:
cursor.execute(q)
conn.commit()

In [17]:
data = sqlio.read_sql_query(queries.quantity_product(id), engine)
with pd.option_context('display.max_rows', 100, 'display.max_columns', 10):
    display(data)

           branch  amount
0  Sucursal Norte      20

In [ ]:
df = sqlio.read_sql_query(queries.ingresosProducto(2018),engine)
import plotly.express as px
fig = px.scatter_3d(df,x='product',y='total_sold',z='year',color='product')
fig.show()